@import "../../theme/theme.css";

.modalHeaderContent {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  & .title {
    margin: 12px 0 24px;
  }

  & .urlOptionsDisplayLabel {
    max-width: 500px;
    margin: 0 0 24px;

    text-align: left;
  }

  & .urlOptionsDisplayLabel,
  & .link {
    font-size: 15px;
  }

  & .link {
    color: var(--grey-lighter);
  }

  & .icon {
    margin: -3px 6px 0 0;
  }

  & > a {
    padding: 6px 0;
  }

  &::after {
    position: absolute;
    top: 260px;

    content: "";

    border-top: 25px solid var(--blue-light);
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;;
    border-left: 25px solid transparent;
  }
}

.modalBodyContent {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;

  & .title {
    margin: 12px 0 6px;
  }

  & .message,
  & .urlOptionsDisplayLabel,
  & .link {
    margin: 0 0 24px;
  }


  & .link {
    font-size: 13px;

    color: var(--grey-darker);
  }

  & .icon {
    margin: -3px 6px 0 0;
  }

  & > a {
    padding: 6px 0;
  }
}
