@import '../../theme/theme.css';

.buttonClass {
  @apply --bodyDefault;

  position: relative;

  display: inline-block;

  padding: 6px 30px;

  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center;

  white-space: nowrap;
  text-decoration: none;

  color: #ffffff; /* NOT SURE I LIKE THIS */

  border: 0;
  border-radius: 18px;
  outline: 0;
  overflow: hidden;

  background-color: var(--blue);

  &.danger {
    background-color: var(--red);

    &:hover,
    &:focus,
    &.active {
      background-color: var(--red-dark);
    }

    &[disabled],
    &[disabled]:hover {
      opacity: 0.4;
      background-color: var(--red);
    }
  }

  &:hover,
  &:focus,
  &.active {
    color: #ffffff;
    background-color: var(--blue-dark);
  }

  &:visited {
    color: #ffffff;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;

    opacity: 0.4;
    background-color: var(--blue);
  }

  /* loading */
  &.loading,
  &.loading:hover {
    cursor: not-allowed;

    background-color: var(--blue) 80; /* This is 0069ff80 the 80 is opacity in css next */
  }

  /* no background */
  &.noBackgroundStyle,
  &.noBackgroundStyle:visited,
  &.linkText {
    font-size: inherit;

    padding: 0;

    color: var(--blue);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle:hover,
  &.noBackgroundStyle:focus,
  &.noBackgroundStyle.active {
    color: var(--blue-dark);
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle[disabled],
  &.noBackgroundStyle[disabled]:hover {
    color: var(--blue);
    background-color: rgba(0, 0, 0, 0);
  }

  /* no background danger */
  &.noBackgroundStyle.danger,
  &.noBackgroundStyle.danger:visited {
    color: var(--red);
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle.danger:hover,
  &.noBackgroundStyle.danger:focus,
  &.noBackgroundStyle.danger.active {
    color: var(--red-dark);
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle.danger[disabled],
  &.noBackgroundStyle.danger[disabled]:hover {
    color: var(--red-light);
    background-color: rgba(0, 0, 0, 0);
  }

  /* nohover background */
  &.noHoverBackgroundStyle,
  &.linkText {
    padding: 0;

    color: var(--grey-darker);
    background-color: transparent;
  }

  &.noHoverBackgroundStyle:hover,
  &.noHoverBackgroundStyle.active,
  &.noHoverBackgroundStyle:visited {
    color: var(--grey-darker);
    background-color: transparent;
  }

  &.noHoverBackgroundStyle[disabled],
  &.noHoverBackgroundStyle[disabled]:hover {
    color: var(--grey-darker);
    background-color: transparent;
  }

  /* no background + secondary */
  &.noBackgroundStyle.secondary:hover,
  &.noBackgroundStyle.secondary:focus,
  &.noBackgroundStyle.secondary.active {
    color: var(--blue-dark);
  }

  &.noBackgroundStyle.secondary,
  &.noBackgroundStyle.secondary:visited {
    color: var(--grey-darker);
  }

  &.noBackgroundStyle.secondary[disabled],
  &.noBackgroundStyle.secondary[disabled]:hover {
    color: var(--blue)65;
  }

  /* no background secondary danger */
  &.noBackgroundStyle.secondary.danger,
  &.noBackgroundStyle.secondary.danger:visited {
    color: var(--grey-darker);
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle.secondary.danger:hover,
  &.noBackgroundStyle.secondary.danger:focus,
  &.noBackgroundStyle.secondary.danger.active {
    color: var(--red-dark);
    background-color: rgba(0, 0, 0, 0);
  }

  &.noBackgroundStyle.secondary.danger[disabled],
  &.noBackgroundStyle.secondary.danger[disabled]:hover {
    color: var(--red-light)65;
    background-color: rgba(0, 0, 0, 0);
  }

  /* link text */
  &.linkText:hover,
  &.linkText.active,
  &.linkText:focus,
  &.linkText:visited {
    color: var(--purple);
    background-color: rgba(0, 0, 0, 0);
  }

  &.linkText[disabled],
  &.linkText[disabled]:hover {
    /* color: rgba(0, 0, 0, 0); */

    background-color: rgba(0, 0, 0, 0);
  }

  /* secondary */
  &.secondary,
  &.secondary:visited {
    color: var(--grey-darker);
    background-color: var(--grey-light);
  }

  &.secondary:hover,
  &.secondary:focus,
  &.secondary.active {
    background-color: var(--grey);
  }

  &.secondary[disabled],
  &.secondary[disabled]:hover {
    opacity: 1;
    background-color: var(--grey-light)65;
    color: var(--grey-darker)65;
  }

  /* icon */
  &.iconStyle,
  &.iconStyle:visited {
    width: 36px;
    height: 36px;
    padding: 0;

    color: var(--grey-darker);
    border-radius: 18px;
    background-color: var(--grey-light);
  }

  &.iconStyle i,
  &.iconStyle:visited i {
    font-size: 18px;
  }

  &.iconStyle:hover,
  &.iconStyle:focus,
  &.iconStyle.active {
    background-color: var(--grey);
  }

  &.iconStyle[disabled],
  &.iconStyle[disabled]:hover {
    background-color: var(--grey-light);
  }

  /* icon with no background */
  &.iconStyle.noBackgroundStyle,
  &.iconStyle.noBackgroundStyle:visited {
    color: var(--grey-darker);
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0);
  }

  &.iconStyle.noBackgroundStyle:hover,
  &.iconStyle.noBackgroundStyle.active {
    color: var(--grey-darker);
    background-color: var(--grey);
  }

  &.iconStyle.noBackgroundStyle[disabled],
  &.iconStyle.noBackgroundStyle[disabled]:hover {
    color: var(--grey-darker);
    background-color: rgba(0, 0, 0, 0);
  }

  /* icon with no hover background */
  &.iconStyle.noHoverBackgroundStyle,
  &.iconStyle.noHoverBackgroundStyle:visited {
    color: var(--grey-darker);
    background-color: transparent;
  }

  &.iconStyle.noHoverBackgroundStyle:hover,
  &.iconStyle.noHoverBackgroundStyle:focus,
  &.iconStyle.noHoverBackgroundStyle.active {
    color: var(--grey-darker);
    background-color: transparent;
  }

  &.iconStyle.noHoverBackgroundStyle[disabled],
  &.iconStyle.noHoverBackgroundStyle[disabled]:hover {
    background-color: transparent;
  }

  /* icon with no hover background danger */
  &.iconStyle.noHoverBackgroundStyle.danger,
  &.iconStyle.noHoverBackgroundStyle.danger:visited {
    color: var(--grey-darker);
    background-color: rgba(0, 0, 0, 0);
  }

  &.iconStyle.noHoverBackgroundStyle.danger:hover,
  &.iconStyle.noHoverBackgroundStyle.danger:focus,
  &.iconStyle.noHoverBackgroundStyle.danger.active {
    color: var(--red-dark);
    background-color: rgba(0, 0, 0, 0);
  }

  &.iconStyle.noHoverBackgroundStyle.danger[disabled],
  &.iconStyle.noHoverBackgroundStyle.danger[disabled]:hover {
    color: var(--red-light);
    background-color: rgba(0, 0, 0, 0);
  }

  /* highlighted */
  &.highlighted::after {
    position: absolute;
    top: 6px;
    right: -2px;

    width: 8px;
    height: 8px;

    content: '';

    border-radius: 50%;

    background-color: var(--blue);
  }
}

a.iconStyle {
  align-items: flex-start;

  box-sizing: border-box;
  padding-top: 3px !important;
}

a.buttonClass {
  overflow: visible;
}
