{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 2,
        "declaration-colon-newline-after": null,
        "declaration-empty-line-before": null,
        "font-family-no-missing-generic-family-keyword": null,
        "function-name-case": null,
        "function-parentheses-newline-inside": null,
        "function-comma-newline-after": null
    }
}