# This file should be named for your NODE_ENV eg: .env.production
# See /studio for an additional env file that is required for studio to function.
# For Studio
SANITY_STUDIO_PROJECT_NAME="Rack & Pinion"
SANITY_STUDIO_API_PROJECT_ID="h7a1w5an"
SANITY_STUDIO_API_DATASET="production"
SANITY_STUDIO_API_VERSION="2021-06-15"
SANITY_STUDIO_PREVIEW_SECRET=""
SANITY_BACKUP_API_TOKEN=""
SANITY_PREVIEW_API_TOKEN=""

# For AutoComplete places in Studio & Google Maps in Web
SANITY_STUDIO_GOOGLE_API_KEY=""

# For sitemap
NEXT_PUBLIC_URL="https://gearboxbuilt.com"

# For Send Grid
SENDGRID_API_KEY=""
SENDGRID_TEMPLATE_ID=""
SENDGRID_URL=""
SENDGRID_VERIFIED_SENDER=""

# For MailChimp
MC_API_KEY=""
MC_AUDIENCE_ID=""
MC_SERVER_PREFIX=""

# For Snipcart
SNIPCART_API_KEY=""

# For ReCAPTCHA v2
RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""

# For Google Analytics
GOOGLE_TAG_TRACKING_ID=""