.editUrlContent {
  display: flex;
  align-items: stretch;
  flex-direction: row;

  margin: 6px 0;

  & > .editSubdomain,
  & > .editSlug {
    flex: 1;
  }

  & .editSlug input {
    height: 36px;
  }

  & > .editSlug,
  & > .editUrlSave {
    margin-left: 12px;
  }

  & > .editUrlSave {
    display: flex;
    align-items: flex-start;

    min-height: 100%;
    margin-left: 12px;
  }

  & .supportLabel {
    margin: 0 0 6px;
  }
}

.urlEditSelect {
  width: 115px;
}

.urlEditLink {
  margin: 18px 0;
}
