@import "../../theme/theme.css";

.splitTest {
  display: inline-flex;

  height: 38px;
  padding: 0 0 0 9px;

  border: 1px solid rgba(177, 186, 204, 0.4);
  border-radius: 3px;

  background-color: #ffffff;
}

.conversionWrapper {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;

  padding-right: 9px;

  & span {
    margin-left: 1px;
  }
}

.splitSwatch {
  font-size: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  & > span {
    color: white;
  }
}

.splitSwatchOverflow {
  font-family: var(--font-family);
  font-weight: 400;

  display: flex;
  align-items: center;
  flex: 1 0 18px;
  justify-content: center;

  padding: 0 9px;

  color: var(--grey-darker);
  border-left: 1px solid var(--grey-darker);
}
