@import '../../theme/theme.css';

.inputClass {
  width: 100%;

  &:hover .inputStyles,
  &.inputActive .inputStyles {
    border: 1px solid var(--blue);
  }

  & .inputHelperText {
    @apply --supportContent;

    margin: 6px 0;
  }

  & .inputLabelText {
    @apply --bodyDefault;

    margin: 6px 0;

    text-transform: capitalize;
  }

  & .inputStyles {
    @apply --bodyDefault;

    box-sizing: border-box;
    width: 100%;
    padding: 8px;

    border: 1px solid #b1bacc;
    border-radius: 3px;
    outline: 0;

    background: #ffffff;

    &.singleInputField {
      padding: 11px 11px;
    }
  }

  & .inputStyles:focus {
    border: 1px solid var(--blue);
  }
}

.inputClass.inputError {
  & .inputStyles,
  & .inputStyles:focus {
    border: 1px solid var(--red-dark);
  }

  & .inputHelperText {
    color: var(--red-dark);
  }
}

.inputClass .inputStyles:focus {
  border: 1px solid var(--blue);
}

.inputClass.inputDisabled,
.inputClass.inputDisabled:hover {
  opacity: 0.4;

  & .inputStyles[disabled],
  &:hover .inputStyles[disabled] {
    cursor: not-allowed;

    border: 1px solid #b1bacc;
    border-radius: 3px;
    background: #e4e7ed;
  }
}
