@import "../../theme/theme.css";

.indicator {
  display: inline-block;

  width: 8px;
  height: 8px;
  margin-right: 6px;

  border-radius: 8px;
}

.indicator.success {
  border: 2px solid var(--green);
  background: var(--green);
}

.indicator.info {
  border: 2px solid var(--grey);
  background: var(--grey);
}

.indicator.warning {
  border: 2px solid var(--yellow);
  background: var(--yellow);
}

.indicator.error {
  border: 2px solid var(--red);
  background: var(--red);
}
