@import "../../theme/theme.css";

.badgeClass {
  @apply --bodyDefault;

  font-size: 13px;
  line-height: 12px;

  display: flex;

  /* TODO: define this typography */

  align-items: center;

  padding: 6px;

  letter-spacing: 0;
  text-transform: capitalize;

  color: #ffffff;
  border-radius: 3px;
  background: var(--green);

  & i {
    font-size: 13px;
    line-height: 12px;

    margin-right: 6px;

    letter-spacing: 0;

    color: #ffffff;
  }
}
