.collapseStyle {
  &.enter {
    max-height: 0;

    opacity: 0.01;
  }

  &.enterActive {
    max-height: 100px;

    transition: 0.2s ease-in;

    opacity: 1;
  }

  &.leave {
    max-height: 100px;

    opacity: 1;
  }

  &.leaveActive {
    max-height: 0;

    transition: 0.2s ease-in;

    opacity: 0.01;
  }
}
