@import "../../theme/theme.css";

.searchClass {
  position: relative;

  & button {
    position: absolute;
    top: 50%;
    right: 0;

    height: 100%;
    padding: 0 6px;

    cursor: pointer;
    transform: translateY(-50%);

    border: none;
    background: none;
  }

  & i {
    color: var(--grey);
  }
}
