.error,
.success {
  font-size: 24px;
  line-height: normal;
}

.error {
  color: #ed6347;
}

.success {
  color: #0069ff;
}

.inverse {
  color: #ffffff;
}

.medium,
.small,
.extraSmall {
  font-size: 16px;
}

.loadingState {
  position: relative;

  width: 100%;
}

.hasSuccess {
  & .success {
    top: 50%;

    transform: translate(-50%, -50%);

    opacity: 1;
  }
}

.hasError {
  & .error {
    top: 50%;

    transform: translate(-50%, -50%);

    opacity: 1;
  }
}

.hasLoading {
  & .loading {
    top: 50%;

    transform: translate(-50%, -50%);

    opacity: 1;
  }
}

.originalComponent {
  transition: 0.5s ease;

  opacity: 1;
}

.hiddenOriginalComponent {
  opacity: 0;
}

.loading,
.success,
.error {
  position: absolute;
  top: 100%;
  left: 50%;

  transition: 0.5s ease;

  transform: translate(-50%, 0);

  opacity: 0;
}
