.templateUrlCopyContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin: 18px 0;
}

.templateUrlCopy {
  flex: 0 0 132px;

  margin-left: 12px;
}

.templateUrlInput {
  flex: 1;
}

.templateTOSLink {
  font-size: 13px;

  margin: 0 6px;
}
