@import "../../theme/theme.css";

.urlDisplayLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  min-width: 500px;
  height: 48px;
  padding: 0 12px;

  border-radius: 3px;
  background-color: var(--grey-light);
}

.urlDisplayLabelContainer .displayLabelText {
  display: block;
  overflow: hidden;

  box-sizing: border-box;
  width: 100%;

  cursor: default;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;

  color: inherit;
}

.urlDisplayToolTip {
  flex: 1;

  min-width: 0;
}
