
.checkboxContainer {
  margin-bottom: 12px;

  & .checkboxSupportText {
    margin-left: 28px;
  }
}

.checkboxSupportText,
.redirectUrlInput {
  width: auto;
  margin-left: 28px;
}

.supportCheckbox {
  margin-left: 28px;

  & label div {
    margin-top: .333em;
  }
}
