@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://static.leadpages.com/fonts/valueserif_typeset.css');
@import url('https://static.leadpages.com/fonts/apercu_typeset.css');
@import url('https://static.leadpages.com/fonts/spacemono_typeset.css');

:root {
  /* --brand-primary: #1a1b1b; */
  /* --brand-secondary: #1a1b1b; */
  /* --font-family-base: 'Open Sans'; */
}

[data-testid='input-heroHeading'] [data-testid='pt-editor'],
[data-testid='input-headingBlock'] [data-testid='pt-editor'],
[data-testid='input-heading'] [data-testid='pt-editor'] {
  height: 5.35em;
}

[data-ui='TabList'] div:nth-child(2) {
  padding-left: 0 !important;
  vertical-align: baseline !important;
}

[data-testid='group-tab-all-fields'] {
  display: none !important;
}

[data-tone='navbar'] a span {
  color: var(--card-fg-color, rgb(232, 232, 235)) !important;
}
