.option {
  font-size: 15px;

  position: relative;

  padding: 9px;

  cursor: pointer;

  &:hover,
  &:focus,
  &.active {
    border-radius: 3px;

    outline: 0;

    background-color: #0069ff;

    & .primaryText,
    & .secondaryText {
      color: #ffffff;
    }

    &.hasSecondaryText .optionInner {
      border-color: transparent;
    }
  }

  &.disabled {
    pointer-events: none;

    opacity: 1;

    & .primaryText {
      opacity: 0.4;
    }
  }

  & .primaryText {
    font-size: 15px;

    color: #4c515d;
  }

  & .secondaryText {
    font-size: 12px;

    color: #797f89;
  }
}

.option.hasSecondaryText {
  padding: 0 9px;

  & .optionInner {
    padding: 12px 0;

    border-bottom: 1px solid #b1bacc;
  }

  &:last-child .optionInner {
    border-bottom: none;
  }
}

.option.selected {
  &:hover::before,
  &:focus::before,
  &.active,
  &.active::before {
    color: #ffffff;
  }

  &::before {
    font-family: 'LeadPages-Icons';

    position: absolute;
    top: 50%;

    content: '\e206';
    transform: translateY(-50%);

    color: #0069ff;
  }

  & .primaryText,
  & .secondaryText {
    margin-left: 24px;
  }
}

.truncateEllipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
