@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import './components/pinion';
  @import './components/portable-text';
  @import './components/link';
  @import './components/list';
}

@layer base {
  :root {
    --header-height: theme(magic-numbers.header-height.initial);

    @media (min-width: theme(screens.md)) {
      --header-height: theme(magic-numbers.header-height.md);
    }
  }

  html {
    @apply bg-surface-neutral-dark text-body text-[16px] antialiased;
  }

  h1,
  h2 {
    font-weight: 400 !important;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .gradient-white-opacity {
    @apply h-px bg-gradient-to-r bg-[linear-gradient(to_right,rgba(255,255,255,0)_0%,rgba(255,255,255,0.1)_10%,rgba(255,255,255,0.2)_50%,rgba(255,255,255,0.1)_90%,rgba(255,255,255,0)_100%)];
  }
}
