@import "../theme.css";

.shadowL1 {
  box-shadow: var(--shadow-l1) !important;
}

.shadowL2 {
  box-shadow: var(--shadow-l2) !important;
}

.shadowL3 {
  box-shadow: var(--shadow-l3) !important;
}

.shadowL4 {
  box-shadow: var(--shadow-l4) !important;
}

.shadowL5 {
  box-shadow: var(--shadow-l5) !important;
}
