@import "../theme.css";

.shadowContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shadowHeader {
  @apply --inPageHeading;

  width: 100%;
  margin: 60px 0;
}

.shadowTile {
  width: 100px;
  height: 100px;

  border-radius: 3px;
  background-color: #ffffff;
}
